<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rockfest - Music Festival Event, DJ Concert and Night Club Website Template</title>
    <link rel="icon" href="/images/icon.png" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Rockfest - Music Festival Event, DJ Concert and Night Club Website Template" name="description" />
    <meta content="" name="keywords" />
    <meta content="" name="author" />
    <!-- CSS Files
    ================================================== -->
    <link id="bootstrap" href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link id="bootstrap-grid" href="~/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
    <link id="bootstrap-reboot" href="~/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/css/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="~/css/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/css/jquery.countdown.css" rel="stylesheet" type="text/css" />
    <link id="mdb" href="~/css/mdb.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <!-- color scheme -->
    <link id="colors" href="~/css/colors/scheme-01.css" rel="stylesheet" type="text/css" />
    <link href="~/css/coloring.css" rel="stylesheet" type="text/css" />
</head>
<body class="dark-scheme">

    <script src="~/js/jquery.min.js"></script>

    <div id="wrapper">
        <div id="preloader">
            <div class="preloader1"></div>
        </div>
        <!-- header begin -->
        @await Component.InvokeAsync("NavigationMenu")
        <!-- header close -->
        <!-- header close -->
            <main>
                @RenderBody()
            </main>
        @await Component.InvokeAsync("Footer")
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/enquire.min.js"></script>
    <script src="~/js/jquery.plugin.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
    <script src="~/js/jquery.countdown.js"></script>
    <script src="~/js/jquery.lazy.min.js"></script>
    <script src="~/js/jquery.lazy.plugins.min.js"></script>
    <script src="~/js/mdb.min.js"></script>
    <script src="~/js/jquery.countdown.js"></script>
    <script src="~/js/countdown-custom.js"></script>
    <script src="~/js/cookit.js"></script>
    <script src="~/js/designesia.js"></script>
    <!-- COOKIES PLUGIN  -->
    <script>
        $(document).ready(function () {
            $.cookit({
                backgroundColor: '#111111',
                messageColor: '#fff',
                linkColor: '#e50000',
                buttonColor: '#ffffff',
                messageText: "This website uses <b>cookies</b> to ensure you get the best experience on our website.",
                linkText: "Learn more",
                linkUrl: "/",
                buttonText: "I accept",
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
