@{
    ViewData["Title"] = "Blog";
}

<!-- content begin -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="text-light" data-bgimage="url(images/background/subheader.jpg) bottom">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-12 text-center">
                        <h1>Thank you for your money, now fly to us</h1>
                        <h3>maybe you will like it</h3>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>

            </div>
            <!-- section close -->
        </div>
        <!-- content close -->