@using mvc.Entities
@using mvc.ViewModels


@{
    void GetNavBarList(List<Options> navElemsArr)
    {
        @foreach (var elem in NavBarView.GetNonGroupOptions())
        {
            <li><a href=@elem.Href>@elem.Value</a></li>
        }
    }
}


<!-- content begin -->
<header class="transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a href="/#de-carousel">
                                    <img alt="" src="images/logo.png" />
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                        <div class="de-flex-col">
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <!-- mainmenu begin -->
                        <ul id="mainmenu">
                            @{
                                GetNavBarList(NavBarView.GetNonGroupOptions());
                            }
                            @foreach (var optionsGroup in NavBarView.GetAllGroupedOptions())
                            {
                                <li>
                                    <a href="/">@optionsGroup.Name</a>
                                    <ul>
                                        @foreach (var elem in optionsGroup.GroupedOptions)
                                        {
                                            <li><a href=@elem.Href>@elem.Value</a></li>
                                        }
                                    </ul>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="de-flex-col">

                        <div class="de-flex-col">
                            <div class="menu_side_area">
                                <a href="#section-tickets" class="btn-main"><i class="fa fa-sign-in"></i><span>Buy Ticket</span></a>
                                <span id="menu-btn"></span>
                            </div>
                        </div>

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="/User/Login" class="btn-main"><i class="fa fa-sign-in"></i><span>Login</span></a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>

                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="/User/Register" class="btn-main"><i class="fa fa-sign-in"></i><span>Register</span></a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        }else{
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="/Admin" class="btn-main"><i class="fa fa-sign-in"></i><span>Admin panel</span></a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>

                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="/User/Logout" class="btn-main"><i class="fa fa-sign-in"></i><span>Logout</span></a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- content close -->
