.catsContainer{
    display: flex;
    margin: 4px;
    align-items: center;
    text-align: center;
}
.catsContainer button{
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid;
    color: white;
    border-radius: 5px;
    margin: 5px;
    transition-duration: 0.3s;
}
    .catsContainer button:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }