@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model mvc.Entities.Comments

<form asp-controller="Blog" asp-action="AddNewCommentToPost" id='contact_form' class="form-border" method="post">
    <div id="alert-msg" class="alert-msg" asp-validation-summary="All">
        <label>Name</label>
        <div>
            <input type='text' asp-for='Name' id='name' class="form-control" placeholder="Your Name" required>
        </div>

        <div>
            <input type='text' asp-for='Email' id='Email' class="form-control" placeholder="Your Email" required>
        </div>

        <label>Message <span class="req">*</span></label>

        <div>
            <textarea asp-for="Message" id='message' class="form-control" placeholder="Your Message" required></textarea>
        </div>

        <p id="btnsubmit">
            <input type="submit" id="send" value="Send" class="btn btn-main" />
        </p>
    </div>
</form>